#image {
  border: 1px solid black; /* garis kotak dengan ketebalan 1 piksel dan warna hitam */
  background-color: #f2f2f2; /* latar belakang abu-abu */
  padding: 20px; /* jarak antara konten dan batas kotak */
  display: none;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 30px;
}
